VITE_SUPABASE_URL=https://eqoxnsohafswoxvqnyjj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb3huc29oYWZzd294dnFueWpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MDE0NzgsImV4cCI6MjA5ODk3NzQ3OH0.BaC7-cjE6gquV5JYx2yeH0PB6-ok5t-W8BRqpDNjS6k